.user {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
  background-color: var(--light-color);
  border: 2px solid var(--primary-color);
}

.user-nested {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
  background-color: var(--grey-color);
}

